<section>
  <div class="container text-center" ng-show='serverOperationInProgress'>
    <button class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>
  </div>
  <div class="form-group">
    <div class="col-xs-{{sideBarColWidth}}">
      <br>
      <div class="form-group" style="border-radius: 5px;" ng-show='activateRawDataFiltering'>
        <div class='panel panel-primary'>
          <pre class="panel-heading">Data filtering</pre>
          <div class='panel-body'>
            <input class='form-group' placeholder="Employee Id (e.g e098288)" ng-model='emplyeeIdFilterFromServer'>
            <input class='form-group' placeholder="Flight #" ng-model='flightNumberFilterFromServer'>
            <div>
              <button class='btn btn-success' ng-click='viewMethods.reportFilter()'>filter</button>
              <!-- <span ng-show='serverOperationInProgress' name="spinner3" img-src="../spinner.gif" class="ng-isolate-scope">  
            <img height='30' ng-show="true" src="../spinner.gif">  
            </span> -->
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default" ng-show='tileDataExpanded && activateRawDataFiltering' style='height: 380px !important;overflow: scroll;'>
        <div class="panel-heading"><b>Tile: {{tileReports[0].tileX}},{{tileReports[0].tileY}}</b></div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Time</th>
              <th>Alt.</th>
              <!-- <input  ng-model='flightNumberFilter'> -->
              <th>Sev.</th>
              <th>Flight #</th>
              <!-- <th>
                <input ng-model='flightNumberFilter'>
              </th> -->
              <th class="col-xs-2">empId.</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="tileReport in tileReports | filter:flightNumberFilter | orderBy:'-timestamp'">
              <td class="col-xs-2">{{$index}}</td>
              <td class="col-xs-2">{{tileReport.humenTime}}</td>
              <td class="col-xs-2">{{tileReport.alt}}</td>
              <td class="col-xs-2">{{tileReport.severity}}</td>
              <td class="col-xs-2">{{tileReport.fNum}}</td>
              <td class="col-xs-2">{{tileReport.empId}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div  class="form-group" ng-show='!activateRawDataFiltering' style="background-color:#002000; border-radius: 5px;">
        <ul class="nav nav-pills">
          <li ng-class='{active: selectedUITab===1}'>
            <a href style='font-size:small' ng-click='viewMethods.setDisplayTilesByAltAndTime();selectedUITab=1'>Filter by Alt.</a></li>
          <li ng-class='{active: selectedUITab===2}'><a href style='font-size:small' ng-click='viewMethods.setDisplayAllTiles();selectedUITab=2'>Show all Alt.</a></li>
        </ul>
        <div ng-show='selectedUITab===1' style='padding: 15px'>
          <button class="btn btn-info btn-block" type="button" ng-click="viewMethods.goUP()">Up
          </button>
          <pre style="margin-bottom: 0;color:#000000" class="text-center">{{currentAltitudeLabel}}</pre>
          <button class="btn btn-primary btn-block" type="button" ng-click="viewMethods.goDOWN()">Down
          </button>
          <br>
          <br>
          <!-- time controls-->
          <label style="color:#C0C0C0">History</label>
          <pre style="color:#000000" class="text-center">Last {{currentTimeSpan}} hours</pre>
          <slider ng-model="currentTimeSpan" min="6" step='6' max="504"></slider>
          <br>
          <label style="color:#C0C0C0">Events at Alt. / time</label>
          <pre class="text-center">{{noOfTilesForAltAndTime}} / {{noOfTilesForAlt}} events</pre>
          <br>
          <br>
          <label style="color:#C0C0C0">Total events</label>
          <pre class="text-center" style="color:#000000">{{noOfTotalTiles}} events</pre>
        </div>
        <div ng-show='selectedUITab===2' id='all' style='padding: 15px'>
          <!-- time controls-->
          <label style="color:#C0C0C0">History</label>
          <pre style="color:#000000" class="text-center">Last {{currentTimeSpan}} hours</pre>
          <slider ng-model="currentTimeSpan" ng-mouseUp='viewMethods.sliderMouseReleased()' min="6" step='6' max="504"></slider>
          <br>
          <label style="color:#C0C0C0">Events at timespan</label>
          <pre class="text-center">{{noOfTilesAtTimespan}}</pre>
          <br>
          <br>
          <label style="color:#C0C0C0">Total events</label>
          <pre class="text-center" style="color:#000000">{{noOfTotalTiles}} events</pre>
        </div>
      </div>
    </div>
    <div class="col-xs-{{mapColWidth}}">
      <leaflet name='leafletCtrl' style='border-style: solid' center="center" layers="layers" controls="controls" class="mainmap"></leaflet>
    </div>
  </div>
  
</section>
